
/* sidebar
-----------------------------*/
#sidebar								{ width: 25%; padding: 0 0 0 5%; float: right; z-index: 9999; position: relative; }
#sidebar .widget							{ padding: 0 0 35px 0; }
#sidebar .widget h2							{ color: #a5a5a5; font-weight: 200; font-family: 'Montserrat', sans-serif; margin: 0 0 15px; }

/* Cloud category */
.cloud-label-widget-content						{  }
.cloud-label-widget-content ul li					{ display: inline-block; }
.cloud-label-widget-content ul li a					{ padding: 0 0 10px 0; }

.category								{ }
.category ul li								{ display: inline-block;}
.category ul li a							{ padding: 0 10px 10px 0; }
.mini-about								{ display: none; background: #fafafa none repeat scroll 0 0; margin: 0 0 10%; padding: 10%; }
.mini-about-img								{ width: 50%; margin: 0 25% 20px; border-radius: 50%; }
.widget_search								{ display: none; }
input									{ width: 90%; padding: 5%; border-radius: 3px; border: 1px solid #dadbe3; }
input:focus								{ border-color: #AFB0BB; }
