
/* css Uyeee! ------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#main-menu, #wrapper	{ margin: 5% auto; padding: 2% 4%; width: 92%; max-width: 1200px; }
#main-menu		{  }
#wrapper		{ margin: 7% auto; padding: 0 4%; width: 92%; max-width: 1200px; }
.posts			{ width: 70%; float: left;}
