/* --- Base Layout --- */
#main-menu { padding: 30px 2% 0; }
#content { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 0; margin: 0 auto;  }
.posts { flex: 1; padding: 5% 5% 0 5%; padding: 0; }
#sidebar { flex: 0 0 40%; padding: 5% 5% 0 5%; }
.post { margin-bottom: 2rem; }
.post-title { font-size: 2rem; font-family: 'Libre Baskerville', serif; font-weight: 400; padding-bottom: 1rem; text-align: left; }
.post-title a { color: #333; }
.post-title a:hover { border-bottom: 1px solid #CCC; text-decoration: none; }
img { max-width: 100%; height: auto; }

/* --- Responsive Layout --- */
@media (max-width: 1350px) { .post { /* width: 29%; max post width */ } }
@media (max-width: 1024px) { .posts { flex: 1 1 100%; } #sidebar { flex: 1 1 100%; padding-left: 0; margin-top: 2rem; } .post-title { font-size: 1.75rem; } }
@media (max-width: 800px) { .posts { column-count: 1; } #main-menu { position: relative; } .logo { width: 100%; margin: 0; text-align: left; } #navigation { float: none; font-family: 'Hind', sans-serif; text-align: left; margin-top: 10px; } #navigation li { float: none; display: inline; line-height: 60px; margin: 0 2%; } #navigation li a { padding: 1%; font-size: 90%; } .single .post, .single .post-content, .single .post-head, .single .post-content p { width: 100%; margin: 0; padding: 0; } .single .post-head { padding-bottom: 15%; } .single .post-head .post-title { font-size: 200%; padding-bottom: 5%; } .single .post-title { font-size: 100%; text-align: left; padding: 5% 0; } }
@media (max-width: 768px) { 
        #content { flex-direction: column; padding: 0 5%; width: 90%; }
        .post-title { font-size: 1.5rem; text-align: left; }
        #content .about-img { display: block; margin: 0 auto 40px; }
        #content .logo { font-size: 1.5em; width: 100%; text-align: left; float: none; }
        #navigation { text-align: left; float: none; }
        #navigation li { display: inline-block; margin: 0 5px; float: none; }
        #navigation li a { padding: 8px; font-size: 90%;}
}
@media (max-width: 480px) {
        body { font-size: 15px; }
        .post-title { font-size: 1.25rem; }
        #navigation li a { font-size: 80%; }
        #content .logo { font-size: 1.5em; width: 100%; text-align: left; float: none; }
}
@media screen and (max-width: 376px) { .posts { column-count: 1; } }

/* Portrait iPhone 5 */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) { /* Custom styles can go here */ }
