/*

Author: Achmad Nur Widhiyanto
Description: masnuy.com - theme
url: http://masnuy.com
Version: 2025

*/
::selection	    							{ background: rgba(251,246,35,0.5); color: #2b2b2b; }
::-moz-selection							{ background: rgba(251,246,35,0.5); color: #000; }
*							        		{ margin: 0; padding: 0; }
/*
html *						    			{ -webkit-transition: all .3s ease-out; -moz-transition: all .3s ease-out; transition: all .3s ease-out; }
*/
body:before					    			{ content: ""; position: fixed; top: 0; left: 0; width: 100%; height: 5px; z-index: 100; }
body						    			{ background: #FFF; color: #333; line-height: 1em; font: 14px/130% "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif; }
ul						        			{ list-style: none; }
a							        		{ color: #4F6367; text-decoration: none; outline: none; }
a:hover						    			{ text-decoration: underline; cursor: pointer; }
h1, h2						    			{ word-wrap: break-word; line-height: normal; /* font-family: Georgia, Times, "Times New Roman", serif; */ }
h3							        		{ color: #404040; padding: 15px 0 0.3em; }
p							        		{ margin: 0 0 10px; }
b                                           { font-weight: bold; }
hr							        		{ border: none; border-bottom: 1px solid #DDE0E3; height: 1px; margin: 20px 0; width: 100%; }
blockquote					    			{ margin: 0 0 21px 0; padding: 5px 0 5px 20px; font: italic 14px/21px Georgia, "Times New Roman", Times, serif; }
img								        	{ vertical-align: middle; }
h1, h2, h3, h4, h5, h6						{ color: #262626; }
#navigation:before,
#navigation:after,
#wmain-menu:before,
#wmain-menu:after							{ display: table; content: " "; clear: both; }


/* css Uyeee! ------------------------------------------------------------------------------------*/
#navbar									    { display: none; }
#wrapper								    { width: 100%; z-index: 999; margin: 64px auto; position: relative; }
#content							    	{ margin: 5% auto; width: 100%; }
#content, #menu {
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  height: 100%;
  height: 100vh;
  }
.posts                                      { background-color: #CCC; }

/* menu */
#main-menu							    	{ padding: 30px 0 0; margin: 0 auto; background: rgba(255,255,255,.9); aposition: fixed; top: 0; z-index: 999; width: 100%; max-width: 1260px; }
#wmain-menu						    		{ width: 100%; }
#navigation							    	{ float: left; font-family: 'Hind', sans-serif; }
#navigation li								{ float: left; line-height: 60px; margin-right:; }
#navigation li:after						{ content: "/"; color: #CCC; }
#navigation li:last-child:after				{ content: " "; }
#navigation li a							{ font-weight: 700; color: #696969; padding: 20px; }
#navigation li a:hover						{ text-decoration: none; color: #FF7474; }
.logo							    		{ font-size: 2em; line-height: 60px; margin: 0 3% 0 0; float: left; font-family: 'Montserrat', sans-serif; }
.logo a								    	{ color: #333 !important; font-weight: 700 !important; }
.logo a:hover								{ text-decoration: none; }
.logo span								    { opacity: 0.2; font-weight: 200; }
.search-top								    { float: right !important; display: none !important; }
.search-top input							{ width: 90%; padding: 5%; border-radius: 3px; border: none; background: rgba(255,255,255,.1); }
.search-top input:focus						{ border-color: none; outline: none; outline-color: none; outline-style: none; outline-width: none; }

/* css Uyeee!
------------------------------------------------------------------------------------*/
#side-bg{ width: 100%; height: 10px;
	/* position: fixed; */
	left: 0; top: 0;
	background-image: linear-gradient(180deg, hsla(48, 70%, 78%, .1), hsla(48, 70%, 78%, .1)), url(../../../images/bg.png);
	background-position: 0px 0px, -590px 0px;
	background-size:auto, 617px;
	z-index: 9999;
}
#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  font-weight: 600;
  color: #000;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  line-height: 100%; }
#menu-bar {
  width: 100vh;
  height: 55px;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  transform-origin: right top;
  transform: translateX(-100%) rotate(-90deg);
  z-index: 2;
  transition-property: background-color;
  transition-duration: 200ms;
  border-bottom: 1px solid #ddd;
  cursor: pointer; }

#menu-bar:hover, #menu-bar.show-menu {
  background-color: #222;
  border-bottom: 1px solid #555; }
  #menu-bar:hover #menu-icon span, #menu-bar.show-menu #menu-icon span {
    background: #fff; }
  #menu-bar:hover #logo, #menu-bar.show-menu #logo {
    color: #fff; }
/* menu
------------------------------------------------------------------------------------*/
#main-menu								    { padding: 30px 2% 0;
	margin: 0 auto;
	background: rgba(255,255,255,.9);
	aposition: fixed; top: 0; z-index: 999; width: 100%; max-width: 1260px; }
#wmain-menu								    { width: 100%; }

#navigation								    { float: left; font-family: 'Hind', sans-serif; }
#navigation li								{ float: left; line-height: 60px; margin-right:; }
#navigation li:after						{ content: "/"; color: #CCC; }
#navigation li:last-child:after				{ content: " "; }
#navigation li a							{ font-weight: 700; color: #696969; padding: 20px; }
#navigation li a:hover						{ text-decoration: none; color: #FF7474; }

/* Content
------------------------------------------------------------------------------------*/
#content .about-img {
  margin: 0 0 40px 0;
  opacity: 0.8;
  filter: grayscale(100%);
  
  width: 200px;              /* Set width */
  height: 200px;             /* Set height */
  border-radius: 50%;        /* Make it a circle */
  object-fit: cover;         /* Crop image to fill the circle */
  object-position: 50% 30%;
}
#content a                                          { background: rgba(251,246,35,0.5); color: #2b2b2b; }
#content .logo  { font-size: 2em; line-height: 60px; margin: 0 3% 0 0; float: none; font-family: 'Montserrat', sans-serif; }
#content .logo a									{ color: #333 !important; font-weight: 700 !important; }
#content .logo a:hover								{ text-decoration: none; }
#content .logo span								{ opacity: 0.2; font-weight: 200; }

#content h3 {
    font-family: 'Montserrat', sans-serif;
}

#content p, #content ul {
    line-height: 1.75;
    margin: 0 0 10px;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-family: 'Libre Baskerville';
}
#content p span {
    color: #666;
}
#content ul {
    list-style: disc;
    margin: 10px 0;
}
#content ul li {
    margin-left: 20px;
    padding: 0 0 10px;
}
/* Sidebar
------------------------------------------------------------------------------------*/
#sidebar {
}
video {
  width: 100%;
  height: 100vh;         /* Fill browser height */
  object-fit: cover;     /* Fill area while keeping aspect ratio */
  object-position: 50% 29%; /* Align video crop to the top */
  display: block;
}


/* footer
------------------------------------------------------------------------------------*/
#footer							{ display: none; width: 100%; margin: 20px auto; }
#copy p							{ text-align: center; }